<h1>Welcome to Your Quotes</h1>
    
    <%@quotes.each do |quote|%>
         <%# <% binding.pry %> 
        <% if !quote.content.nil? %>
            <li><%= link_to quote.content, quote_path(quote) %></li>
        <% end%>
    <% end %>
    </ul>