<h1><%= @book.name %></h1>
<h4>By: <%= @book.author %></h4>
<br>
<br>
<h2>Quotes from this Book</h2>
<h5>
    <% @book.quotes.each do |quote| %>
        <%= link_to quote.content, book_quote_path(@book, quote) %>
        <br>
        <br>
    <%end%>
    <h4><%= link_to 'Create a new Quote', new_book_quote_path(@book)%></h4>
</h5>
